body {
    position: relative;
    width: 100%;
    margin: 0;
    background-image: url(https://source.unsplash.com/random/1920x1080?landscape);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.page {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 70px;
    box-sizing: border-box;
    overflow-y: auto;
}

.page>* {
    margin: auto;
}

* {
    font-family: 'Roboto', sans-serif;
    
}

h1,h2,h3,p,a {
    color: rgba(0,0,0,0.8);
}

hr {
    border:0;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.card {
    position: relative;
    background: white;
    max-width: 600px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#person {
    padding-top: 50px;
    
}

#person-fullname {
    margin-bottom:0;
}
#person-job {
    margin-top:0;
    font-weight: 500;
    color: rgba(0,0,0,0.3);
}

#person-picture {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: -50px;
    left: calc(50% - 50px);
    border: 5px solid white;
}

#person-country {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 30px;
    left: calc(50% + 20px);
    border: 2px solid white;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0,0,0,0.1);
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
    width: 50%;
}

.list li:nth-child(even){
    text-align: left;
}
.list li:nth-child(odd){
    text-align: right;
}

.skill-box {
    display: inline-block;
    background: #1abc9c;
    padding: 10px 15px;
    border-radius: 3px;
    color: white;
    margin: 5px;
}
.well {
    display: inline-block;
    height: 20px;
    width: 100px;
    background: #16a085;
    vertical-align: middle;
    border-radius: 3px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 20px;
}

[disabled]{
    opacity: 0.3;
}

.thumbnail {
    display: inline-block;
    border-radius: 11px;
    width: 100%;
    max-width: 240px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    text-align: left;
    vertical-align: top;
    margin: 10px;
    
    background: black;
}

.thumbnail-cover {
    width: 100%;
    height: 75px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    opacity: 0.75;
}

.thumbnail .thumbnail-content {
    position: relative;
    padding: 20px;
    background: white;
    min-height: 120px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.thumbnail-icon {
    height: 40px;
    position: absolute;
    top:-60px;
    right: 0;
    left:0;
    margin: auto;
}

.thumbnail-footer {
    position: absolute;
    text-align: right;
    bottom: 10px;
    right: 10px;
}

.thumbnail .btn {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;
    min-width: 50px;
    text-align: center;
}

.thumbnail-title {
    margin:0;
    margin-bottom:5px;
    font-weight: bold;
    font-size: 16px;
}

.thumbnail-description {
    margin:0;
    margin-bottom: 3px;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}

.thumbnail .badge {
    position: absolute;
    background: #f39c12;
    border-radius: 20px;
    color: white;
    top:-10px;
    left: 20px;
    font-size: 12px;
    height: 20px;
    padding: 0px 20px;
    line-height: 20px;
}

.thumbnail-footer a{
    display: inline-block;
    background: #3498db;
    color: white;
    font-size: 12px;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 500;
}

.path {
    position: relative;
    max-width: 400px;
    margin: auto;
}

.step {
    position: relative;
    width: 100%;
    width: calc(100% - 20px);
    margin-left: 20px;
    background: #ecf0f1;
    margin-bottom: 20px;
    border-radius: 10px;
    border-top-left-radius: 0;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.step::before {
    content: "";
    height: calc(100% + 20px);
    width: 5px;
    background: #ecf0f1;
    position: absolute;
    top: -10px;
    left: -20px;
}

.step::after {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ecf0f1;
    position: absolute;
    top:-10px;
    left: -25px;
}

.step p {
    margin: 0;
}

.step .step-title {
    font-weight: 500
}

@media screen and (max-width: 500px){
    .list li {
        width: 100%;
    }
    .button {
        
    margin: 5px 10px;
    }
    .or {
        display: inline-block;
        width: 100%;
    }

    .list li:nth-child(even){
        text-align: center;
    }
    .list li:nth-child(odd){
        text-align: center;
    }
}